body {
  background-color: #fff;
  margin: 0;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
}

header {
  /* background-color: blue; */
  display: flex;
  border-bottom: 4px solid grey;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: blue;
  font-weight: bold;
}

.name {
  flex-grow: 1;
  text-align: center;
}

.name a {
  text-decoration: none;
  color: black;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social img:hover {
  transform: scale(1.2);
  color: grey;
}

.content {
  /* background-color: green; */
  flex-grow: 1;
}

.intro {
  text-align: center;
}

.bio {
  text-align: center;
  color: #e0e0e0;
  font-size: 16px;
}

form {
  /*background-color: bisque;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  margin-bottom: 15px;
  color: #e0e0e0;
}

.form-name {
  display: flex;
  flex-direction: column;

  #name {
    height: 42px;
    width: 500px;
    border: 1px solid #e0e0e0;
    margin-bottom: 15px;
  }
}

.email {
  display: flex;
  flex-direction: column;

  #email {
    height: 42px;
    width: 500px;
    border: 1px solid #e0e0e0;
    margin-bottom: 15px;
  }
}

.message {
  display: flex;
  flex-direction: column;

  #message {
    height: 150px;
    width: 500px;
    border: 1px solid #e0e0e0;
    margin-bottom: 15px;
  }
}

button {
  padding-left: 30px;
  padding-right: 30px;
  height: 40px;
  background-color: #212121;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  margin-right: 400px;
}

footer {
  background-color: orange;
  text-align: center;
}
