body {
  background-color: #fff;
  margin: 0;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
}

header {
  /* background-color: blue; */
  display: flex;
  border-bottom: 4px solid grey;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: blue;
  font-weight: bold;
}

.name {
  flex-grow: 1;
  text-align: center;
}

.name a {
  text-decoration: none;
  color: black;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social img:hover {
  transform: scale(1.2);
  color: grey;
}

.content {
  /* background-color: green; */
  flex-grow: 1;
}

.intro {
  text-align: center;
}

.explanation {
  text-align: center;
}

.container {
  background-color: blueviolet;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 500px;
  grid-gap: 10px;
  margin-top: 100px;
}

.logo {
  background-color: #f0f0f0;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

a.logo {
  text-decoration: none;
  color: #191919;
}

.logo div.emblem {
  background-image: url("project-management/6-12.jpg");
  background-size: cover;
}

.logo:hover {
  background-color: black;
  div.emblem {
    opacity: 0.5;
  }
  div.logo-bottom {
    background-color: black;
    color: white;
  }
}

.logo div.logo-bottom {
  display: grid;
  place-items: center;

  h1 {
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
       sans-serif;
    font-style: normal;
    font-size: 1.2rem;
    padding-bottom: 3px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0px;
    text-align: center;
  }
}

footer {
  /* background-color: orange; */
  text-align: center;
}

.editorial {
  background-color: #f0f0f0;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

a.editorial {
  text-decoration: none;
  color: #191919;
}

.editorial div.designs {
  background-image: url("project-management/6-12.jpg");
  background-size: cover;
}

.editorial:hover {
  background-color: black;
  div.designs {
    opacity: 0.5;
  }
  div.editorial-bottom {
    background-color: black;
    color: white;
  }
}

.editorial div.editorial-bottom {
  display: grid;
  place-items: center;

  h1 {
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
       sans-serif;
    font-style: normal;
    font-size: 1.2rem;
    padding-bottom: 3px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0px;
    text-align: center;
  }
}

footer {
  /* background-color: orange; */
  text-align: center;
}

.motion {
  background-color: #f0f0f0;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

a.motion {
  text-decoration: none;
  color: #191919;
}

.motion div.graphic {
  background-image: url("project-management/6-12.jpg");
  background-size: cover;
}

.motion:hover {
  background-color: black;
  div.designs {
    opacity: 0.5;
  }
  div.motion-bottom {
    background-color: black;
    color: white;
  }
}

.motion div.motion-bottom {
  display: grid;
  place-items: center;

  h1 {
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
       sans-serif;
    font-style: normal;
    font-size: 1.2rem;
    padding-bottom: 3px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0px;
    text-align: center;
  }
}

footer {
  /*background-color: orange;*/
  text-align: center;
  color: #999999;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",  sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 30px;
}
