body {
  background-color: #fff;
  margin: 0;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
}

header {
  /* background-color: blue; */
  display: flex;
  border-bottom: 4px solid grey;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: blue;
  font-weight: bold;
}

.name {
  flex-grow: 1;
  text-align: center;
}

.name a {
  text-decoration: none;
  color: black;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social img:hover {
  transform: scale(1.2);
  color: grey;
}

.content {
  /* background-color: green; */
  flex-grow: 1;
}

.intro {
  color: #191919;
  font-family: "Roboto", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 15px;
  margin-top: 0px;
  text-align: center;
  text-transform: none;
}

.bio {
  color: #999999;
  font-family: "Roboto", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  text-transform: none;
}

.info {
  background-color: blueviolet;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

a.project-management {
  text-decoration: none;
  color: #191919;
}

.project-management {
  height: 200px;
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.project-management div.pm {
  background-image: url("project-management/6-12.jpg");
  background-size: cover;
}

.project-management:hover {
  background-color: black;

  div.pm {
    opacity: 0.5;
  }

  div.pm-side {
    background-color: black;
    color: white;
  }
}

.project-management div.pm-side {
  display: grid;
  place-items: center;

  h1 {
    margin: auto;
    font-family: "Roboto", serif;
    font-style: normal;
    font-size: 1.2rem;
    padding-bottom: 3px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0px;
    text-align: center;
  }

  p {
    margin: 0;
    font-size: 0.8rem;
    color: gray;
    text-align: center;
  }
}

a.design {
  text-decoration: none;
  color: #191919;
}

.design {
  height: 400px;
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-row: 2/4;
}

.design div.designs {
  background-image: url("design/Ntinga\ Logo.jpg");
  background-size: cover;
  background-position: center;
}

.design:hover {
  background-color: black;

  div.designs {
    opacity: 0.5;
  }

  div.designs-side {
    background-color: black;
    color: white;
  }
}

.design div.designs-side {
  display: grid;
  place-items: center;

  h1 {
    margin: auto;
    font-family: "Roboto", serif;
    font-style: normal;
    font-size: 1.2rem;
    padding-bottom: 3px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0px;
    text-align: center;
  }

  p {
    margin: 0;
    font-size: 0.8rem;
    color: gray;
  }
}

a.foto {
  /*background-color: yellow;*/
  text-decoration: none;
  color: #191919;
}

.foto {
  height: 200px;
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.foto div.fotos {
  background-image: url("photography/6-14.jpg");
  background-size: cover;
  background-position: center;
}

.foto:hover {
  background-color: black;

  div.fotos {
    opacity: 0.5;
  }

  div.fotos-side {
    background-color: black;
    color: white;
  }
}

.foto div.fotos-side {
  display: grid;
  place-items: center;

  h1 {
    margin: auto;
    font-family: "Roboto", serif;
    font-style: normal;
    font-size: 1.2rem;
    padding-bottom: 3px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0px;
    text-align: center;
  }

  p {
    margin: 0;
    font-size: 0.8rem;
    color: gray;
    text-align: center;
  }
}

a.painting {
  text-decoration: none;
  color: #191919;
}

.painting {
  /*background-color: purple;*/
  height: 200px;
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.painting div.paintings {
  background-image: url("paintings/6-10.jpg");
  background-size: cover;
  background-position: center;
}

.painting:hover {
  background-color: black;

  div.paintings {
    opacity: 0.5;
  }

  div.paintings-side {
    background-color: black;
    color: white;
  }
}

.painting div.paintings-side {
  display: grid;
  place-items: center;

  h1 {
    margin: auto;
    font-family: "Roboto", serif;
    font-style: normal;
    font-size: 1.2rem;
    padding-bottom: 3px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0px;
    text-align: center;
  }

  p {
    margin: 0;
    font-size: 0.8rem;
    color: gray;
  }
}

a.printing {
  text-decoration: none;
  color: #191919;
}

.printing {
  /*background-color: purple;*/
  height: 200px;
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.printing div.printings {
  background-image: url("format-prints/chrome-hearts-vynil.jpg");
  background-size: cover;
  background-position: center;
}

.printing:hover {
  background-color: black;

  div.printings {
    opacity: 0.5;
  }

  div.printings-side {
    background-color: black;
    color: white;
  }
}

.printing div.printings-side {
  display: grid;
  place-items: center;

  h1 {
    margin: auto;
    font-family: "Roboto", serif;
    font-style: normal;
    font-size: 1.2rem;
    padding-bottom: 3px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0px;
    text-align: center;
  }

  p {
    margin: 0;
    font-size: 0.8rem;
    color: gray;
    text-align: center;
  }
}

footer {
  /*background-color: orange;*/
  text-align: center;
  color: #999999;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 30px;
}
